{% extends 'jqm/v1_0_1.html' %}
{% load i18n %}

{% block jqmheader %}
    <div data-role="header">
        <h1 class="display-title">
            {% block pagetitle %}{% block title %}{% trans 'Title' %}{% endblock %}{% endblock %}
        </h1>
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url logout %}" rel="external" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">Logout: </span>{{ user.username }}</a>
        {% endif %}
        {% include "jqm/messages.html" %}
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}Content
        {% endblock content %}
    </div>
{% endblock jqmcontent %}

{% block jqmfooter %}
    <div data-role="footer">
        {% block navmenu %}{% endblock %}
    </div>
{% endblock jqmfooter %}
