<!DOCTYPE html> 
<html> 
<head> 
    <title>{% block pagetitle %}Page Title{%endblock%}</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
{% block sitestyle %}
    <link rel="stylesheet" href="/static/css/site.css" />
{% endblock %}
{# whole-page scripts could be at the bottom for speedier loading, but that causes a flash-of-unstyled content #}
    {% if DEBUG %}
    <script src="http://code.jquery.com/jquery-1.6.1.js"></script>
    <script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.js"></script>
    {% else %}
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
    {% endif %}
</head> 
<body> 

<div data-role="page">
    <div data-role="header">
        <h1 class="display-title">{% block headertitle %}Page Title{% endblock %}</h1>
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url logout %}" class="ui-btn-right logout-button" data-icon="minus" title="Logout">Logout: {{ user.username }}</a>
        {% endif %}
    </div><!-- /header -->

    <div data-role="content">	
        {% include "jqm/messages.html" %}
        {% block content %}
        {% endblock %}
    </div><!-- /content -->

    <div data-role="footer">
        {% block navmenu %}{% endblock %}
    </div>
    {% block extrascripts %}
    {% endblock %}
</div><!-- /page -->

{% block sitescripts %}
    <script type="text/javascript" src="/static/js/site.js"></script>
{% endblock %}
</body>
</html>
